<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mbg.mapper.ServiceMapper">
  <resultMap id="BaseResultMap" type="com.it.mbg.entity.Service">
    <id column="service_id" jdbcType="BIGINT" property="serviceId" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="service_value" jdbcType="VARCHAR" property="serviceValue" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="customer_order_id" jdbcType="BIGINT" property="customerOrderId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    service_id, service_name, service_value, customer_id, customer_order_id
  </sql>
  <select id="selectByExample" parameterType="com.it.mbg.entity.ServiceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service
    where service_id = #{serviceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from service
    where service_id = #{serviceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.it.mbg.entity.ServiceExample">
    delete from service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.it.mbg.entity.Service">
    insert into service (service_id, service_name, service_value, 
      customer_id, customer_order_id)
    values (#{serviceId,jdbcType=BIGINT}, #{serviceName,jdbcType=VARCHAR}, #{serviceValue,jdbcType=VARCHAR}, 
      #{customerId,jdbcType=VARCHAR}, #{customerOrderId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.it.mbg.entity.Service">
    insert into service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="serviceName != null">
        service_name,
      </if>
      <if test="serviceValue != null">
        service_value,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="customerOrderId != null">
        customer_order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serviceId != null">
        #{serviceId,jdbcType=BIGINT},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceValue != null">
        #{serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerOrderId != null">
        #{customerOrderId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.it.mbg.entity.ServiceExample" resultType="java.lang.Long">
    select count(*) from service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update service
    <set>
      <if test="record.serviceId != null">
        service_id = #{record.serviceId,jdbcType=BIGINT},
      </if>
      <if test="record.serviceName != null">
        service_name = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceValue != null">
        service_value = #{record.serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=VARCHAR},
      </if>
      <if test="record.customerOrderId != null">
        customer_order_id = #{record.customerOrderId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update service
    set service_id = #{record.serviceId,jdbcType=BIGINT},
      service_name = #{record.serviceName,jdbcType=VARCHAR},
      service_value = #{record.serviceValue,jdbcType=VARCHAR},
      customer_id = #{record.customerId,jdbcType=VARCHAR},
      customer_order_id = #{record.customerOrderId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.mbg.entity.Service">
    update service
    <set>
      <if test="serviceName != null">
        service_name = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="serviceValue != null">
        service_value = #{serviceValue,jdbcType=VARCHAR},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=VARCHAR},
      </if>
      <if test="customerOrderId != null">
        customer_order_id = #{customerOrderId,jdbcType=BIGINT},
      </if>
    </set>
    where service_id = #{serviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.mbg.entity.Service">
    update service
    set service_name = #{serviceName,jdbcType=VARCHAR},
      service_value = #{serviceValue,jdbcType=VARCHAR},
      customer_id = #{customerId,jdbcType=VARCHAR},
      customer_order_id = #{customerOrderId,jdbcType=BIGINT}
    where service_id = #{serviceId,jdbcType=BIGINT}
  </update>
</mapper>