<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.mbg.mapper.TransportPricerMapper">
  <resultMap id="BaseResultMap" type="com.it.mbg.entity.TransportPricer">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="starting_price" jdbcType="DOUBLE" property="startingPrice" />
    <result column="coefficient" jdbcType="DOUBLE" property="coefficient" />
    <result column="unitPrice" jdbcType="DOUBLE" property="unitprice" />
    <result column="weight_pricer" jdbcType="DOUBLE" property="weightPricer" />
    <result column="journey_pricer" jdbcType="DOUBLE" property="journeyPricer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, starting_price, coefficient, unitPrice, weight_pricer, journey_pricer, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.it.mbg.entity.TransportPricerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from transport_pricer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from transport_pricer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from transport_pricer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.it.mbg.entity.TransportPricerExample">
    delete from transport_pricer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.it.mbg.entity.TransportPricer">
    insert into transport_pricer (id, starting_price, coefficient, 
      unitPrice, weight_pricer, journey_pricer, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{startingPrice,jdbcType=DOUBLE}, #{coefficient,jdbcType=DOUBLE}, 
      #{unitprice,jdbcType=DOUBLE}, #{weightPricer,jdbcType=DOUBLE}, #{journeyPricer,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.it.mbg.entity.TransportPricer">
    insert into transport_pricer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="startingPrice != null">
        starting_price,
      </if>
      <if test="coefficient != null">
        coefficient,
      </if>
      <if test="unitprice != null">
        unitPrice,
      </if>
      <if test="weightPricer != null">
        weight_pricer,
      </if>
      <if test="journeyPricer != null">
        journey_pricer,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="startingPrice != null">
        #{startingPrice,jdbcType=DOUBLE},
      </if>
      <if test="coefficient != null">
        #{coefficient,jdbcType=DOUBLE},
      </if>
      <if test="unitprice != null">
        #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="weightPricer != null">
        #{weightPricer,jdbcType=DOUBLE},
      </if>
      <if test="journeyPricer != null">
        #{journeyPricer,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.it.mbg.entity.TransportPricerExample" resultType="java.lang.Long">
    select count(*) from transport_pricer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update transport_pricer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.startingPrice != null">
        starting_price = #{record.startingPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.coefficient != null">
        coefficient = #{record.coefficient,jdbcType=DOUBLE},
      </if>
      <if test="record.unitprice != null">
        unitPrice = #{record.unitprice,jdbcType=DOUBLE},
      </if>
      <if test="record.weightPricer != null">
        weight_pricer = #{record.weightPricer,jdbcType=DOUBLE},
      </if>
      <if test="record.journeyPricer != null">
        journey_pricer = #{record.journeyPricer,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update transport_pricer
    set id = #{record.id,jdbcType=BIGINT},
      starting_price = #{record.startingPrice,jdbcType=DOUBLE},
      coefficient = #{record.coefficient,jdbcType=DOUBLE},
      unitPrice = #{record.unitprice,jdbcType=DOUBLE},
      weight_pricer = #{record.weightPricer,jdbcType=DOUBLE},
      journey_pricer = #{record.journeyPricer,jdbcType=DOUBLE},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.it.mbg.entity.TransportPricer">
    update transport_pricer
    <set>
      <if test="startingPrice != null">
        starting_price = #{startingPrice,jdbcType=DOUBLE},
      </if>
      <if test="coefficient != null">
        coefficient = #{coefficient,jdbcType=DOUBLE},
      </if>
      <if test="unitprice != null">
        unitPrice = #{unitprice,jdbcType=DOUBLE},
      </if>
      <if test="weightPricer != null">
        weight_pricer = #{weightPricer,jdbcType=DOUBLE},
      </if>
      <if test="journeyPricer != null">
        journey_pricer = #{journeyPricer,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.it.mbg.entity.TransportPricer">
    update transport_pricer
    set starting_price = #{startingPrice,jdbcType=DOUBLE},
      coefficient = #{coefficient,jdbcType=DOUBLE},
      unitPrice = #{unitprice,jdbcType=DOUBLE},
      weight_pricer = #{weightPricer,jdbcType=DOUBLE},
      journey_pricer = #{journeyPricer,jdbcType=DOUBLE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>